<% @columns.each do |column| %>
  <th>
    <a href="#"
      data-sort-column=<%=column%>
      data-sort-order="asc"
      data-column-type="person"
      class="sortable-column arrow-up">
      <%=column.titleize%><span id="sort-arrow" class="">⬆️</span>
    </a>
  </th>
<%end%>
<th><a href="#"
      data-sort-column="affiliations"
      data-sort-order="asc"
      data-column-type="association"
      class="sortable-column arrow-up">
      Affliation<span id="sort-arrow" class="">⬆️</span>
    </a>
</th>
<th><a href="#"
      data-sort-column="locations"
      data-sort-order="asc"
      data-column-type="association"
      class="sortable-column arrow-up">
      Locations<span id="sort-arrow" class="">⬆️</span>
    </a>
</th>