<div class="container mt-4">
  <h2 class="mb-3">People List</h2>
  <%= render partial: "views/search_bar"%>
  <table class="table table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <%=render partial: "views/person_row_headers", locals: {columns: @columns}%>
      </tr>
    </thead>
    <tbody id="people-table-body">
      <%=render partial: "views/person_rows", locals: {persons: @persons}%>
    </tbody>
  </table>
  <div class="pagination">
    <%= paginate @persons %>
  </div>
</div>
