<!DOCTYPE html>
<html>
<head>
  <title>Test Page</title>
  <script>
    alert("Static inline script works!");
    console.log("Static inline script works!");
  </script>
</head>
<body>
  Hello world!
</body>
</html>
